codeformer-pip==0.0.4
ftfy==6.1.1
scipy==1.9.3
transformers==4.29.2
accelerate==0.19.0
huggingface-hub==0.19.4
omegaconf
wget
numpy
joblib==1.2.0
matplotlib==3.5.1
PyYAML==6.0
pandas
setuptools==61.2.0
thop==0.1.1.post2207130030
seaborn==0.11.2
opencv-python==4.8.1.78
Pillow
tqdm
pillow>=9.5.0
protobuf>=4.23.2
addict
future
lmdb
pyyaml
requests
scikit-image
tb-nightly
yapf
lpips
insightface>=0.7.3
onnxruntime-gpu==1.15.1
compel==2.0.2
triton==2.1.0
diffusers==0.24.0
ninja
facexlib>=0.2.5
basicsr>=1.4.2
einops
safetensors>=0.3.0
aiohttp
psutil
kornia>=0.7.1
numba
deepdiff
pynvml
py-cpuinfo
segment-anything
scikit-image
piexif
opencv-python-headless
GitPython
taming-transformers
pytorch-lightning>=2.2.1
open-clip-torch>=2.23.0
timm==0.9.12
openai-clip>=1.0.1
fsspec>=2023.4.0
ultralytics!=8.0.177
websocket-client==1.6.3
torchsde
cog
torch==2.1.1
torchvision==0.16.1
spandrel
pydantic